/*===== CSS RESET =====*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,img,ins,kbd,q,s,samp,strike,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{outline:none;border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}.clear{clear:both}.clearfix{display:inline-block}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;font-size:0}* html .clearfix{height:1%}.clearfix{display:block}p,li,td{background:url('')}ul,ol{list-style:none;}
/*===== FONTS =====*/


@font-face {
	font-family: OpenSans-Bold;
	src: url(../css/fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-Light;
	src: url(../css/fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../css/fonts/OpenSans-Regular.ttf);
}
/*===== COMMON =====*/

html, body {
	width: 100%;
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	background: #FFF;
	-webkit-text-size-adjust: none;
	color: #000;
	font-size: 1em;
}
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
a:hover,
a:focus{
	text-decoration: none;
}
a.btn:hover{
	box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
#container {
	width: 100%;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
header{
	padding: 10px 0;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
	z-index: 100;
	position: relative;
}
header .logo-wrapper{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
header .logo{
	display: block;
	margin: auto;
	max-width: 260px;

}
header .logo img{
	display: block;
	max-width: 100%;
}
header span{
	display: block;
}
header .hotline span,
header .email span{
	padding: 0 20px;
}
header .hotline span:first-child,
header .email span:first-child{
	color: #3b5556;
	margin-bottom: 5px;
}
header .email span:last-child,
header .email span:first-child{
	text-align: right;
}
header .hotline span:last-child,
header .email span:last-child{
	font-size: 25px;
	color: #1c7ba5;
	font-weight: bold;
	margin-bottom: 10px;
}
header .search{
	padding-top: 10px;
}
header .search span{
	color: #3b5556;
}
.stylish-input-group .input-group-addon{
	background: white !important;
	border: none;
}
.stylish-input-group .input-group-addon .fa{
	font-size: 25px;
	cursor: pointer;
}
.stylish-input-group .form-control{
	border: none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	padding:5px;
}
.stylish-input-group button{
	border:none;
	background:transparent;
	color: #3c3d41;
}
.border-right-1{
	border-right: solid 1px #e1e1e1;
}
.border-bottom-1{
	border-bottom: solid 1px #e1e1e1;
}
header nav{
	margin-top: 10px;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #3b5556;
	padding: 10px 20px;
	display: inline-block;
}
header nav ul li .fa{
	color: #3b5556;
}
header nav ul li a:hover{
	color: #1c7ba5;
}
header nav ul li{
	position: relative;
}
header nav ul li:hover .sub-menu{
	display: block;
}
header nav .sub-menu{
	position: absolute;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
	box-shadow: 0 0 4px 1px rgba(0,0,0,.4);
	z-index: 100;
	top:100%;
	display: none;
	min-width: 250px;
}
header nav .sub-menu li{
	display: block;
	width: 100%;
	text-align: left;
	border-bottom: solid 1px #e1e1e1;
}
header nav .sub-menu li:last-child{
	border-bottom: none;
}
header nav .sub-menu li a{
	text-transform: none;
}
#top-slider .slide{
	position: relative;

}
#top-slider .slide{
	width: 100%;
}
#top-slider .slide img{
	width: 100%;
}
/*#top-slider .slide .content{*/
	/*position: absolute;*/
	/*left:0;*/
	/*top: 25%;*/
	/*right:0;*/
	/*margin: auto;*/
	/*text-align: center;*/
	/*color: #ffffff;*/
/*}*/
/*#top-slider .slide .content h2{*/
	/*font-size: 22px;*/
/*}*/
/*#top-slider .slide .content h1{*/
	/*font-size: 30px;*/
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
	/*margin: 10px 0;*/
	/*position: relative;*/
	/*margin-bottom: 20px;*/
/*}*/
#top-slider .slide .content h1:after{
	content: '';
	width: 200px;
	height:2px;
	background-color: #ffffff;
	position: absolute;
	bottom: -10px;
	left: 0;
	right:0;
	margin: auto;
}
#top-slider .slide .content p{
	font-size: 18px;
}
.videos p,
.news p{
	color: #ffffff;
}
.news.active,
.news:hover,
.videos:hover{
	background:#2e7493 ;
}
.news{
	padding:40px 40px 80px 180px;
	background: url("https://1.bp.blogspot.com/-FAuGo3tPlGE/YFDYQI8VB7I/AAAAAAAADPk/Rf8c5IFwD9wMOa8uDvF-jLldE1dZZQcBACLcBGAsYHQ/s0/bg-news.jpg") 0 0 no-repeat;
	background-size: cover;
	color: #ffffff;
	position: relative;

}
.videos{
	padding: 40px 180px 80px 67px;
	background: url("https://1.bp.blogspot.com/-jfmjZejrkhc/YFDYQI2YzdI/AAAAAAAADPo/XOV4D_zp6OA7ESsh6ZPkvqKG3AkVMdnEgCLcBGAsYHQ/s0/bg-video.jpg") 0 0 no-repeat;
	background-size: cover;
	position: relative;
}
.videos .heading,
.news .heading{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	margin-bottom: 20px;
	display: block;
}
.videos .heading:after,
.news .heading:after{
	content: '';
	width: 150px;
	height: 3px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 35px;
}
.videos img,
.news img{
	display: block;
	width: 60px;
	margin-bottom: 20px;
}
.videos p,
.news p{
	font-size: 18px;
	margin: 10px 0;
	line-height: 1.5;
	text-align: justify;
}
.videos .fa,
.news .fa{
	font-size: 60px;
	margin-right: 25px;
}
.videos .btn,
.news .btn{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	width: 50%;
	position: absolute;
	right:40px;
	bottom: 40px;
	border-bottom: 0;
}
.quote{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding:20px 40px;
	background: #e5e5e5;
}
.quote p{
	color: #7a7a7a;
	width: 100%;
	max-width: 80%;
	font-size: 20px;
	margin:auto;
	line-height: 1.5;
	text-align: justify;

}
.quote p:last-child{
	text-align: right;
}
section{
	padding:30px 0;
	width: 100%;
}
section .heading{
	margin: 20px 0;
	font-size: 30px;
	text-align: center;
	color: #4f4d4d;
	position: relative;
	text-transform:capitalize;
}
section .sub-heading{
	font-size: 15px;
	margin: auto;
	max-width:90%;
	margin-bottom: 20px;
	text-align: center;
	color: #4f4d4d;
}
section .heading:after{
	content: '';
	width: 120px;
	height:2px;
	background-color: #235f7f;
	position: absolute;
	bottom: -10px;
	left: 0;
	right:0;
	margin: auto;
}
section .heading span{
	font-weight: bold;
	color: #235f7f;
}
section .gallery {
	float: left;
	width: 20%;

	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	overflow: hidden;
}

section .gallery:hover {
	opacity:.8;
}

section .gallery img {
	height: auto;
	display: block;
}
section .gallery-wrapper{
	margin-top: 30px;
}
section .desc {
	margin: 5px;
	padding: 15px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	background: rgba(0,0,0,.5);
	color: #ffffff;
	text-transform:capitalize;
}
footer .no-wrapper{
	border-top: solid 1px #e1e1e1;
	padding:10px 0;
	background: #f1f0f0;
}
footer .row:nth-child(2){
	background-color: #333333;
	padding:10px 20px;
	font-size: 15px;
}
footer .footer-caption{
	font-size: 15px;
	line-height: 1.3;
	color: #7a7a7a;
}
footer ul{
	float: right;
}
footer ul li{
	display: inline-block;
}
footer ul li .fa{
	font-size: 25px;
	margin: 10px 5px;
	color: #7f7f7f;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s ;
	-ms-transition: all 0.4s ;
	-o-transition: all 0.4s ;
	transition: all 0.4s ;
}
footer ul li .fa:hover{
	color: #2e7493;
}
footer .row:nth-child(2) ul li{
	margin:5px 0;
}
footer .row:nth-child(2) ul li a{
	color: #ffffff;
	text-transform: capitalize;
}
footer .row:nth-child(2) ul li a:hover{
	color: #2e7493;
}
footer .copyright{
	color: #333333;
	padding:10px 0;
	margin: 10px 0;
	line-height: 1.3;
}
footer .links{
	position: relative;
}
footer .links #toTop{
	position: absolute;
	right: -100px;
	top: -35px;
	color: #ffffff;
	cursor: pointer;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
footer .links .row{
	padding-left: 20px;
}
.btn-show-mm{
	display: none;
}
/*===== RESPONSIVE =====*/

@media (max-width: 1140px) {
	header nav ul li a{
		padding:15px;
	}
}
@media (max-width: 750px) {
	body {
		font-size: 16px;
	}
	.border-right-1{
		border:none;
	}
	.logo{
		margin: auto;
	}
	header .col-md-9{
		display: none;
	}
	.btn-show-mm{
		display: block;
		position: absolute;
		right: 0;
		top:15%;
		padding: 15px;
		font-size: 30px;
		color: #235f7f;
	}
	#top-slider .slide .content h1{
		font-size: 1.8em;
	 }
	#top-slider .slide .content h2{
		font-size: 1.3em;
	}
	#top-slider .slide .content p{
		font-size: 1em;
	}
	#top-slider .slide .content{
		top: 15%;
	}
}
@media (max-width: 1040px){
	header nav ul li a{
		padding:15px 10px;
	}
}
@media (max-width: 960px){
	header nav ul li a{
		font-size: .8em;
	}
	header .hotline span:last-child, header .email span:last-child{
		font-size: 1em;
	}
}
@media (max-width: 840px){
	header nav ul li a{
		font-size: .7em;
	}
	header .hotline span:last-child, header .email span:last-child{
		font-size: 1em;
	}
}
	@media (max-width: 732px) {
	body {
		font-size: 15.5px;
	}
	header .logo img{
		margin-left: 15px;
	}
}
@media (max-width: 714px) {
	body {
		font-size: 15px;
	}
}
@media (max-width: 696px) {
	body {
		font-size: 14.5px;
	}
}
@media (max-width: 679px) {
	body {
		font-size: 14px;
	}
}
@media (max-width: 661px) {
	body {
		font-size: 13.5px;
	}
}
@media (max-width: 643px) {
	body {
		font-size: 13px;
	}
	header .logo{
		margin: 0;
	}
	.videos,
	.news{
		padding:60px 60px 80px;
	}
	.quote{
		padding:60px 60px 80px;
	}
	.quote p {
		margin: 0 20px;
	}
	footer .col-md-4 ul{
		margin: auto;
		width: 100%;
		text-align: center;
	}
	section .gallery{
		width: 33.333%;
	}
	footer .row:nth-child(2) ul li {
		margin: 5px 0;
		width: 50%;
		float: left;
	}
}
@media (max-width: 460px){
	section .gallery{
		width: 50%;
	}
	header .logo img{
		max-width: 100px;
	}
	section .gallery img{
		width: 100%;
	}
	.btn-show-mm{
		top:0;
	}
}